@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'vars.scss';

* {
    font-family: var(--t-font-family);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(122, 122, 122, 0.3);

    // transition not work

    &:window-inactive {
        background-color: rgba(122, 122, 122, 0.3);
    }

    &:hover {
        background-color: rgba(122, 122, 122, 0.7);
    }

    &:active {
        background-color: rgba(122, 122, 122, 0.9);
    }
}

.legend-box {
    bottom: 100px;
    position: absolute;
    left: 150px;
    z-index: 100;
}

.legend {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: bold;

    .square {
        display: inline-block;
        width: 35px;
        height: 15px;
        margin-right: 10px;
    }

    .text {
        color: #2c3e50;
        font-family: "Noto Serif SC", DM Serif Display, STZhongsong, STKaiti, KaiTi, Roboto, serif;
    }
}

label {
    font-family: var(-t-font-family)
}