:root {
    --t-bg: #f7f9fe;
    --t-bg-dark: #1a1a1a;
    --t-color-primary: #1677ff;
    --t-color-success: #52c41a;
    --t-color-warning: #faad14;
    --t-color-error: #ff4d4f;
    --t-color-info: #1677ff;
    --t-color-link: #1677ff;
    --t-font-family: Inter, PingFang SC-Semibold, PingFang SC;
}